html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
.flex {
  display: flex;
}
.flex-align-center {
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-15 {
  flex: 0 1 15%;
}
.flex-20 {
  flex: 0 1 20%;
}

.flex-29 {
  flex: 0 1 29%;
}
.flex-85 {
  flex: 0 1 85%;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  text-align: center;
}
main {
  background-color: #d1efef;
}
.header {
  padding: 1rem;
  background-color: #303f9e;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.header input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 25rem;
  margin-left: 2rem;
}
.header input::placeholder {
  color: rgb(191, 194, 198);
}

nav a {
  display: block;
  padding: 1rem;
  margin: 0 0.3rem;
  text-decoration: none;
  color: black;
}
a {
  display: inline-block;
}
.active {
  background-color: rgb(224, 222, 222);
}
main {
  padding: 2rem;
  min-height: 100vh;
}
.home li {
  background-color: white;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
}

.articles li {
  margin: 2rem 0;
}
.articles a {
  color: #303f9e;
  font-weight: bold;
}
.articles p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.singlearticle a {
  margin-bottom: 2rem;
  color: #303f9e;
}
.singlearticle p {
  font-size: 1.3rem;
  font-weight: bold;
}
.img-box {
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.img-box-rounded {
  width: 4rem;
  margin-right: 1rem;
}
.img-box-rounded img {
  border-radius: 50%;
}
img {
  width: 100%;
}
.card {
  background-color: white;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 8px;
}
.card p {
  margin: 1rem 0;
}
button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #008080;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.search-box {
  width: 30%;
  padding: 0.5rem 1rem;
}
span {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
}
